@{
    ViewData["Title"] = "About";
}

<h1 style="color:#ff90e7;">Help</h1>

<p style="color:lightgray;">Step 1: Register if you do not yet have an account, otherwise skip step 1.</p>
<p style="color:lightgray;">Step 2: Login</p>
<p style="color:lightgray;">Step 3: Choose upload tab in navigationbar to upload a new file or an updated file.</p>
<p style="color:lightgray;">Step 4: Go to download tab to view all the uploaded files or download selected files by clicking on the download link next to the file name.</p>
<p style="color:lightgray;">Step 5: Go to the view all history tab to see the history of all the files that has been uploaded.</p>
<p style="color:lightgray;">Step 6: Logout when done.</p>
