@{
    ViewData["Title"] = "About";
}

<h1 style="color:#ff90e7;">Help</h1>

<p style="color:lightgray;">Step 1: Register if you do not have an account else skip step 1.</p>
<p style="color:lightgray;">Step 2: Login</p>
<p style="color:lightgray;">Step 3: Choose upload tab in navbar to upload a new file or upload an updated file.</p>
<p style="color:lightgray;">Step 4: Go to download tab to see all the uploaded files, and to download selected files by clicking on the download link nex to the file name.</p>
<p style="color:lightgray;">Step 5: Go to view all history to see the History of all the files that has been uploaded.</p>
<p style="color:lightgray;">Step 6: Logout when done.</p>
