@{
    ViewData["Title"] = "Home Page";
}


<head>
    <h1 style="color:#ff90e7;">Welcome to FileLib</h1>

    <p style="color:white;">This is a place where people come to share documents, download documents, edit documents and re-upload documents for everyone to see.</p>

    <p style="color:white;"> If you are interested in sharing your documents or gathering information from someone els, feel free to sign up and join a community of sharing and growing knowladege.</p>

    <p style="color:white;"> If you are already part of the community welcome back and please sign in to get sharing!!</p>
</head>

<body>
    <Center>
        <img src="~/images/Logo.png" alt="Sample Photo" />
    </Center>
</body>



