@model IEnumerable<MVC_Final_Final.Models.Docs.DocsClass>

@{
    ViewData["Title"] = "upload";
}

<form asp-controller="Docs" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>
